@model List<Painel.Models.Contratos.Dependente>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered table-striped table-hover" id="pnresultado">
        <thead>
            <tr style="background-color:#e8e2e2">
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Idade</th>
                <th>Sexo</th>
                <th>Estado Civil</th>
                <th>Parentesco</th>
                <th>Nome da Mãe</th>
                <th>Cartão SUS</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NOMEDep
                    </td>
                    <td>
                        @item.CPFDep
                    </td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.DATANASCIMENTODep)
                    </td>
                    <td>
                        @item.IDADEDep
                    </td>
                    <td>
                        @item.SEXODep
                    </td>
                    <td>
                        @item.ESTADOCIVILDep
                    </td>
                    <td>
                        @item.PARENTESCODep
                    </td>
                    <td>
                        @item.NOMEDAMAEDep
                    </td>
                    <td>
                        @item.CARTAODESAUDEDep
                    </td>
                    <td>
                        @item.VALORDep
                    </td>
                    <td>
                        <button class="btn btn-danger btn-flat" data-guid="@item.guidDependente" data-click="excluirdependente" data-toggle="tooltip" data-placement="top" title="Excluir Dependente"><i class="fa  fa-trash-o"></i></button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span style="color:#084c20">Nenhum Dependente cadastrado</span>
}
