@model List<Painel.Models.Cadastro.TermosContratual>


@{
    ViewBag.Title = "Termos Constratuais";
    Layout = "~/Views/Shared/_Servicos.cshtml";
}

@section css{
    <link href="~/Contents/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Contents/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Contents/plugins/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

@section js{
    <script src="~/Contents/plugins/sweetalert/sweetalert2.min.js"></script>
    <script src="~/Contents/js/jquerydownloader.min.js"></script>
    <script src="~/Contents/js/jquery.fancybox.js"></script>
    <script src="~/Contents/plugins/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Contents/plugins/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            var dt = $('#tabela').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            $(document).on("click", "[data-click=abrir-pdf]", function () {
                var id = $(this).data("id");

                $.fancybox({
                    href: '@Url.Action("VisualizarPDF", "TermosContratuais", new { area = "Cadastro" })/' + id,
                    type: 'ajax',
                    maxWidth: 800,
                    maxHeight: 600,
                    fitToView: false,
                    width: '100%',
                    height: '100%',
                    autoSize: false,
                    afterClose: function () {
                    }
                });
            });

            $(document).off("", "form").on("submit", "form", function (e) {
                e.preventDefault();

                var form = $(this);
                var container = form.parent();

                $.post(form.attr('action'), form.serialize(), function (data) {
                    if (data.success) {
                        swal({
                            title: "Sucesso",
                            text: "Cadastrado com sucesso",
                            type: "success",
                            onClose: () => {
                                $.fancybox.close();
                                location.reload();
                            }
                        });
                    } else {
                        container.html(data);
                        $.fancybox.update();
                    }

                });
            });
        });
    </script>
}
<section class="content-header">
    <h1>
        Termos Contratuais
    </h1>
</section>
@if (@ViewData["Message"] == null)
{

}
else
{
    <h4 class="alert alert-success" align="center">@ViewData["Message"]</h4>
}
<section class="content">
    <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("NovoTermo", "TermosContratuais", new { Area = "Cadastro" })" id="acessar" class="btn btn-success "><i class="fa fa-plus"></i> Cadastrar Termo</a>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model != null && Model.Count > 0)
                    {
                        <table class="table table-bordered table-striped table-hover" id="tabela">
                            <thead>
                                <tr style="background-color:#e8e2e2">
                                    <th>Nome</th>
                                    <th>Arquivo</th>
                                    <th>Ativo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.NOME
                                        </td>
                                        <td>
                                            @item.NOMEARQUIVO
                                        </td>
                                        <td>
                                            @item.STATUS
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditarTermo", "TermosContratuais", new { Area = "Cadastro", id = @item.ID})" class="btn btn-linkedin btn-flat data-toggle="tooltip" data-placement="top" title="Editar Cadastro"><i class="fa  fa-pencil-square-o"></i></a>
                                            <button class="btn btn-default btn-flat" data-click="abrir-pdf" data-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Visuzalizar Adicional PDF">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </button>
                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span style="color:#084c20">Nenhum termo cadastrado</span>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
